
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Cluster - Creative Portfolio HTML Template</title>

            <!-- Main CSS file -->
        <link rel="stylesheet" href="assets/home/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/home/css/owl.carousel.css" />
        <link rel="stylesheet" href="assets/home/css/magnific-popup.css" />
        <link rel="stylesheet" href="assets/home/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/home/css/style.css" />
        <link rel="stylesheet" href="assets/home/css/responsive.css" />


            <!-- Favicon -->
        <link rel="shortcut icon" href="assets/home/images/icon/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/home/images/icon/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/home/images/icon/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/home/images/icon/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/home/images/icon/apple-touch-icon-57-precomposed.png">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.assets/home/js/1.4.2/respond.min.js"></script>
	<![endif]-->

    </head>
    <body>

            <!-- PRELOADER -->
        <div id="st-preloader">
            <div id="pre-status">
                <div class="preload-placeholder"></div>
            </div>
        </div>
            <!-- /PRELOADER -->


            <!-- HEADER -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.HomeController.index()">Optium</a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@routes.HomeController.index()">Home</a>
                        </li>
                        <li>
                            <a href="@routes.HomeController.list()">Products</a>
                        </li>
                        <li>
                            <a href="assets/products/#">Contact</a>
                        </li>
                        <li class="left">
                            <a href="@routes.HomeController.login()">Login</a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container -->
        </nav>
        <!-- /HEADER -->


            <!-- SLIDER -->
        <section id="slider">
            <div id="home-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
			
                    <div class="item active" style="background-image: url(assets/optium.jpg)">
                        <div class="carousel-caption container">
                            <div class="row">
                                <div class="col-sm-7">
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div> <!--/#home-carousel-->
        </section>
            <!-- /SLIDER -->
	    
	    
            <!-- OUR TEAM -->
        <section id="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Our Team</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-image">
                                <img class="img-responsive" src="assets/home/images/members/team2.jpg" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Ma. Isabel Vistan </h4>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>
			
                </div>
            </div>
        </section>
            <!-- /OUR TEAM -->

            <!-- CONTACT -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>Contact us</h1>
                            <span class="st-border"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 contact-info">
                        <p class="st-address"><i class="fa fa-map-marker"></i> <strong>1445 Bambang St. Sta Cruz, Manila</strong></p>
                        <p class="st-phone"><i class="fa fa-mobile"></i> <strong>495-0036 || +63 09081917376 || +63 09275555928</strong></p>
                        <p class="st-email"><i class="fa fa-envelope-o"></i> <strong>Optiummedical@@gmail.com</strong></p>
                    </div>
                </div>
            </div>
        </section>
            <!-- /CONTACT -->

            <!-- FOOTER -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-pull-6 copyright">
                        <p>&copy; 2015 <a href="">ShapedTheme</a>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
            <!-- /FOOTER -->


            <!-- Scroll-up -->
        <div class="scroll-up">
            <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
        </div>


            <!-- JS -->
        <script type="text/javascript" src="assets/home/js/jquery.min.js"></script><!-- jQuery -->
        <script type="text/javascript" src="assets/home/js/bootstrap.min.js"></script><!-- Bootstrap -->
        <script type="text/javascript" src="assets/home/js/jquery.parallax.js"></script><!-- Parallax -->
        <script type="text/javascript" src="assets/home/js/smoothscroll.js"></script><!-- Smooth Scroll -->
        <script type="text/javascript" src="assets/home/js/masonry.pkgd.min.js"></script><!-- masonry -->
        <script type="text/javascript" src="assets/home/js/jquery.fitvids.js"></script><!-- fitvids -->
        <script type="text/javascript" src="assets/home/js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
        <script type="text/javascript" src="assets/home/js/jquery.counterup.min.js"></script><!-- CounterUp -->
        <script type="text/javascript" src="assets/home/js/waypoints.min.js"></script><!-- CounterUp -->
        <script type="text/javascript" src="assets/home/js/jquery.isotope.min.js"></script><!-- isotope -->
        <script type="text/javascript" src="assets/home/js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
        <script type="text/javascript" src="assets/home/js/scripts.js"></script><!-- Scripts -->


    </body>
</html>
